<h5>Classes</h5>
<dl>
	<?js
		var data = obj;
		var self = this;
		
		var i=0;
		data.forEach(function(n) {
			print( '<dt class="'+(i%2==0?'even':'odd')+'"><span class="type-name">'+ 
				self.linkto(n.longname, n.name) +'</span></dt>' );
			print( '<dd class="'+(i%2==0?'even':'odd')+'">' );
			if (n.description) {
                var lines = n.description.split('</p>');
                if ( lines.length > 2 ) {
                    print( lines[0]+ ' ['+self.linkto(n.longname, '...')+'] </p>' );
                }
                else {
                    print( n.description );
                }
			}
			if (n.summary) {
				print(n.summary);
			}
			print( '</dd>' );

			i++;
		} );
	?>
</dl>