<?js
var data = obj;
var self = this;
?>
<dl>
	<table class="summary-table">
	    <thead>
		<tr>
			<th colspan="3" class= "last"><h5><?js= data._title ?></h5></th>
		</tr>
		</thead>
		<tbody>
    <?js
        obj.forEach(function(p, i) {
			if ( typeof p.inherited != 'undefined' ) return;
			?>
			
	        <tr>
				<td class="attributes first text-right">
					<?js= p.attribs ?>
				</td>
				<td class="last">
						<a href="#<?js= p.name ?>"><code class="name"><?js= p.name ?></code></a><span class="type-signature"><?js= p.signature ?></span>
						<div class="summary-description"> <?js= p.description ?></div>
				</td>
			</tr>
			<?js
        });
    ?>
	</tbody>
</table>

<?js
	var inherited = '';
    obj.forEach(function(p, i) {
		if ( typeof p.inherited != 'undefined' ) {
			if (inherited != '')
				inherited += ',&nbsp '; 
			inherited += '<a href="' + p.inherits.replace('#','.html#') + '">' + p.inherits.replace('#','.') + '</a>';
		};
	});
	if (inherited != '') { ?> 
<div class="inherited"><h6>Inherited</h6>  <div> <?js= inherited ?> </div>
</div>
<?js } ?>
</dl>

