<?js
	var self = this;
	docs.forEach(function(doc, i) {
		
		var classes = self.find({kind: 'class', memberof: doc.longname});
		bClasses =  (classes && classes.length) ?
			true : false;
	
		var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
		bNamespaces = (doc.kind !== 'globalobj' && namespaces && namespaces.length) ?
			true : false;
	 
		var members = self.find({kind: 'member', memberof: doc.longname });
		bMembers = (members && members.length && members.forEach) ?
			true : false;
	
		var methods = self.find({kind: 'function', memberof: doc.longname});
		bMethods = (methods && methods.length && methods.forEach) ?
			true : false;
	
		var events = self.find({kind: 'event', memberof: doc.longname}); 
		bEvents = (events && events.length && events.forEach) ?
			true : false;
?>

<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
	<?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
	<?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<section>
	
<header>
	<h2><?js if (doc.ancestors && doc.ancestors.length) { ?>
		<span class="ancestors"><?js= doc.ancestors.join('') ?></span>
	<?js } ?>
	<?js= doc.longname ?>
	<?js if (doc.variation) { ?>
		<sup class="variation"><?js= doc.variation ?></sup>
	<?js } ?></h2>
	<?js if (doc.classdesc) { ?>
		<div class="class-description"><?js= doc.classdesc ?></div>
	<?js } ?>
</header>  

<article>
	<div class="container-overview">
	<?js if (doc.kind === 'module' && doc.module) { ?>
		<?js= self.partial('method.tmpl', doc.module) ?>
	<?js } ?>
	
	<?js if (doc.kind === 'class') { ?>
		<?js= self.partial('class.tmpl', doc) ?>
	<?js } else { ?>
		<?js if (doc.description) { ?>
			<div class="description"><?js= doc.description ?></div>
		<?js } ?>
		
		<?js= self.partial('details.tmpl', doc) ?>
		
		<?js if (doc.examples && doc.examples.length) { ?>
			<h3>Example<?js= doc.examples.length > 1? 's':'' ?></h3>
			<?js= self.partial('examples.tmpl', doc.examples) ?>
		<?js } ?>
	<?js } ?>
	</div>
	
	<?js if (doc.augments && doc.augments.length) { ?>
		<h3 class="subsection-title">Extends</h3>
		
		<ul><?js doc.augments.forEach(function(a) { ?>
			<li><?js= self.linkto(a, a) ?></li>
		<?js }); ?></ul>
	<?js } ?>
	
	<?js
		if ( bClasses || bNamespaces || bMembers || bMethods || bEvents ) {
	?>
	<div class="summary">
		<a name="summary"></a>
		<h3 class="subsection-title">Summary</h3>

		<?js
			if (bClasses) { 
				classes.sort( self.privateSort );
				print('<div class="doc_group">');
				print( '<a name="summary_classes"></a>' );
				print( self.partial('_classes_summary.tmpl', classes) );
				print('</div>');
			}
			
			if (bNamespaces) { 
				namespaces.sort( self.privateSort );
				print('<div class="doc_group">');
				print('<a name="summary_namespaces"></a>');
				print( self.partial('_namespaces_summary.tmpl', namespaces) );
				print('</div>');
			}

			if (bMembers) {
				members.sort( self.privateSort );
				print('<div class="doc_group">');
				print('<a name="summary_properties"></a>');
				members._title = 'Members';
				print(self.partial('_summary.tmpl', members));
				print('</div>');
			}


			if (bMethods) { 
				methods.sort( self.privateSort );
				methods._title = 'Methods';
				print('<div class="doc_group">');
				print('<a name="summary_methods"></a>');
				print(self.partial('_summary.tmpl', methods));
				print('</div>');
			}
			
			if (bEvents) { 
				events._title = 'Methods';
				events.sort( self.privateSort );
				print('<div class="doc_group">');
				print('<a name="summary_events"></a>');
				print(self.partial('_summary.tmpl', events));
				print('</div>');
			}
		?>
	</div>
	<?js
		}
	?>
	
	<?js if (doc.mixes && doc.mixes.length) { ?>
		<h3 class="subsection-title">Mixes In</h3>
		
		<ul><?js doc.mixes.forEach(function(a) { ?>
			<li><?js= self.linkto(a, a) ?></li>
		<?js }); ?></ul>
	<?js } ?>
	
	<?js if (doc.requires && doc.requires.length) { ?>
		<h3 class="subsection-title">Requires</h3>
		
		<ul><?js doc.requires.forEach(function(r) { ?>
			<li><?js= self.linkto(r, r) ?></li>
		<?js }); ?></ul>
	<?js } ?>
	
	<?js

		if (doc.kind !== 'globalobj' && classes && classes.length) { 
	?>
		<h3 class="subsection-title">Classes</h3>
		
		<dl><?js classes.forEach(function(c) { ?>
			<dt><?js= self.linkto(c.longname, c.longname) ?></dt>
			<dd><?js if (c.summary) { ?><?js= c.summary ?><?js } ?></dd>
		<?js }); ?></dl>
	<?js } ?>
	
	<?js
		var namespaces = self.find({kind: 'namespace', memberof: doc.longname}); 
		if (doc.kind !== 'globalobj' && namespaces && namespaces.length) { 
	?>
		<h3 class="subsection-title">Namespaces</h3>
		
		<dl><?js namespaces.forEach(function(n) { ?>
			<dt><a href="namespaces.html#<?js= n.longname ?>"><?js= self.linkto(n.longname, n.name) ?></a></dt>
			<dd><?js if (n.summary) { ?><?js= n.summary ?><?js } ?></dd>
		<?js }); ?></dl>
	<?js } ?>
	
	<?js
		var members = self.find({kind: 'member', memberof: title === 'Global' ? {isUndefined: true} : doc.longname, inherited: {isUndefined:true}});
		if (members && members.length && members.forEach) {
			 
	?>
		<h3 class="subsection-title">Members</h3>
		
		<dl><?js members.forEach(function(p) { 
			self.logObject(p)
			?>
			<?js= self.partial('members.tmpl', p) ?>
		<?js }); ?></dl>
	<?js } ?>
	
	<?js
		var methods = self.find({kind: 'function', memberof: title === 'Global' ? {isUndefined: true} : doc.longname, inherited: {isUndefined:true}});
		if (methods && methods.length && methods.forEach) { 
	?>
		<h3 class="subsection-title">Methods</h3>
		
		<dl><?js methods.forEach(function(m) { ?>
			<?js= self.partial('method.tmpl', m) ?>
		<?js }); ?></dl>
	<?js } ?>
	
	<?js
		var typedefs = self.find({kind: 'typedef', memberof: title === 'Global' ? {isUndefined: true} : doc.longname}); 
		if (typedefs && typedefs.length && typedefs.forEach) { 
	?>
		<h3 class="subsection-title">Type Definitions</h3>
		
		<dl><?js typedefs.forEach(function(e) {
				if (e.signature) {
			?>
				<?js= self.partial('method.tmpl', e) ?>
			<?js
				}
				else {
			?>
				<?js= self.partial('members.tmpl', e) ?>
			<?js
				}
			}); ?></dl>
	<?js } ?>
	
	<?js
		var events = self.find({kind: 'event', memberof: title === 'Global' ? {isUndefined: true} : doc.longname}); 
		if (events && events.length && events.forEach) { 
	?>
		<h3 class="subsection-title">Events</h3>
		
		<dl><?js events.forEach(function(e) { ?>
			<?js= self.partial('method.tmpl', e) ?>
		<?js }); ?></dl>
	<?js } ?>
</article>

</section>  
<?js } ?>

<?js }); ?>
